server:
   port: 8081
logging:
   config: classpath:log4j2.yml
spring:
   main:
      lazy-initialization: true
   datasource:
      one:
         type: com.zaxxer.hikari.HikariDataSource
         driver: com.mysql.cj.jdbc.Driver
         jdbc-url: jdbc:mysql://localhost:3306/one?useUnicode=true&characterEncoding=utf-8&useSSL=false&serverTimezone=UTC
         username: root
         password: 123456
   jpa:
      hibernate:
         ddl-auto: update
      show-sql: true
      database-platform: org.hibernate.dialect.MySQL8Dialect
#      properties:
#        hibernate:
#                format_sql: true
#                use_sql_comments: true
#                jdbc:
#                batch_size: 1000
#                fetch_size: 1000
es:
   client:
      enabled: true
      host: ${ELASTIC_HOST:localhost}
      port: ${ELASTIC_PORT:9200}
      username: ${ELASTIC_USER:elastic}
      password: ${ELASTIC_PASSWORD:password}